---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getUniqueAuthors from "@/utils/getUniqueAuthors";
import getPostsByAuthor from "@/utils/getPostsByAuthor";
import { SITE } from "@/config";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const authors = getUniqueAuthors(posts);

  return authors.flatMap(({ author, authorName }) => {
    const authorPosts = getPostsByAuthor(posts, author);

    return paginate(authorPosts, {
      params: { author },
      props: { authorName },
      pageSize: SITE.postPerPage,
    });
  });
}

const params = Astro.params;
const { author } = params;
const { page, authorName } = Astro.props;
---

<Layout title={`Author: ${authorName} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={[`Author:`, `${authorName}`]}
    titleTransition={author}
    pageDesc={`Stories written by ${authorName}.`}
  >
    <h1 slot="title" transition:name={author}>{`Author:${authorName}`}</h1>
    <ul class="space-y-8">
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
